body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.leftContainer {
    background: grey;
    padding: 150px;
    background-image: url(images/neom-QZGW6t70IsI-unsplash.jpg);
    background-size: cover;
    min-height: 100%;
}

.rightContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: pink;
    min-height: 100%;
}

.mainText {
    width: 500px;
    background: rgb(219, 202, 202);
    padding: 100px 40px 20px 30px;
}
.formContainer {
    background: rgb(230, 230, 225);
    padding: 10px 0px 30px 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexing {
    display: flex;
    flex-direction: row;
    
}

.flexLeft {
    padding-right: 50px;
}

.buttonContainer {
    background: rgb(219, 202, 202);
    padding: 30px 0px 30px 30px;
}
